@page "/funddata"

<h3>数据概览</h3>

<input placeholder="输入代码" @bind="newCode" />
<input placeholder="持仓金额" />
<button class="btn btn-primary" @onclick="AddFund">添加基金</button>
<button class="btn btn-primary" @onclick="Refresh">刷新基金</button>
<hr />

@if (fundList == null)
{
    <p><em>Loading...</em></p>
}

else
{
    <Table Columns="columns" DataSource="fundList" SortMode="TableSortMode.One" Selection="true"></Table>
}
