<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">@AppSettings.AppName</a>
</div>
<div >
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="funddata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> 明细
            </NavLink>
        </li>
    </ul>
</div>
